html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif
}

body {
    margin: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

.services {
    background-color: var(--haze-2);
    align-items: flex-start;
    padding: 3vw 4%;
    display: flex
}

.service {
    text-align: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex
}

.service-icon {
    z-index: 2;
    width: 72px;
    position: relative
}

.icon-box {
    justify-content: center;
    align-items: center;
    padding: 12px;
    display: flex;
    position: relative
}

.icon-decor {
    z-index: 1;
    position: absolute;
    top: 6%;
    bottom: 6%;
    left: 6%;
    right: 6%
}

.icon-circle-1 {
    z-index: 3;
    width: 45%;
    height: 45%;
    background-color: var(--secondary);
    opacity: .5;
    border-radius: 50%;
    margin-bottom: 10%;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto
}

.icon-circle-2 {
    z-index: 3;
    width: 35%;
    height: 35%;
    background-color: var(--primary);
    opacity: .5;
    border-radius: 50%;
    margin-top: 5%;
    margin-right: 5%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%
}