html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.page-wrapper {
    z-index: 10;
    align-items: flex-start;
    display: flex;
    position: relative
}

.left-block {
    width: 10%;
    height: 100vh;
    min-width: 96px;
    flex-direction: column;
    flex: none;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3vw;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.text-vertical {
    z-index: 1;
    width: 80vh;
    height: 5vw;
    transform-origin: 100%;
    color: var(--border);
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin-top: 88px;
    margin-right: 2vw;
    padding-bottom: 6px;
    font-family: Playfair Display,sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
    display: flex;
    position: relative;
    transform: rotate(-90deg)
}

.content {
    flex: 1;
    padding-left: 4vw;
    padding-right: 4vw
}

.section {
    padding-bottom: 100px;
    display: block
}

.section-top {
    padding-top: 48px
}

.section.page-header-section {
    padding-top: 32px;
    padding-bottom: 48px
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-intro {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 0;
    display: flex
}

.section.top-section {
    padding-top: 48px
}

.section-top-heading {
    margin-bottom: 8px;
}

.section-top-link {
    color: var(--dark);
    letter-spacing: 1px;
    text-transform: uppercase;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6px;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.hover-line {
    width: 50%;
    height: 1px;
    background-color: #151515;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.sidebar {
    width: 30%;
    min-width: 320px;
    padding: 3vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.side-info {
    padding: 2.5vw;
    font-size: 13px;
    line-height: 20px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.social-buttons {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    display: block;
}

element.style {
    width: 100%;
    transform: translate3d(-102%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

img {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a {
    color: var(--primary);
    text-decoration: none;
}

