html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  display: block;
}

body {
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.wrapper {
  z-index: 10;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.left-side {
    width: 10%;
    height: 100vh;
    min-width: 96px;
    flex: none;
    padding: 3vw;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.vertical-text {
  z-index: 1;
  width: 80vh;
  height: 5vw;
  transform-origin: 100%;
  color: var(--border);
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 88px;
  margin-right: 2vw;
  padding-bottom: 6px;
  font-family: Playfair Display, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  display: flex;
  position: relative;
  transform: rotate(-90deg);
}

.content {
  flex: 1;
  padding-left: 4vw;
  padding-right: 4vw;
}

.top-section {
  padding-top: 48px;
}

.intro {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
}

.heading {
  padding-bottom: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Playfair Display, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

a {
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.button {
  height: 56px;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-style: none;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: box-shadow 0.4s, color 0.4s,
    background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  min-width: 320px;
  padding: 3vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.media-wrapper {
  position: relative;
  overflow: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.instagram-photos {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.bg-image-insta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

div {
  display: block;
}

.side-info {
  padding: 2.5vw;
  font-size: 13px;
  line-height: 20px;
}

.contact-block {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.text-span {
  text-decoration: underline;
}

.social-links {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
  display: none;
}

.collection-list-wrapper-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-item-2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.works-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-areas: "Area";
  grid-template-rows: 0.5fr;
  grid-template-columns: 0.5fr;
  grid-auto-columns: 1fr;
}

.Area {
  grid-area: Area;
}

.work-card {
  color: var(--dark);
  display: block;
}

.work-card-preview {
  height: 18vw;
  min-height: 168px;
  position: relative;
  overflow: hidden;
}

.work-card-info {
  color: var(--dark);
  border: 1px solid transparent;
  align-items: center;
  margin: 0;
  padding: 1vw 0 0.2vw;
  display: flex;
}

.work-card-line {
  width: 24px;
  height: 2px;
  background-color: var(--border);
  margin-right: 12px;
}

.work-card-heading {
  color: var(--dark);
  border: 1px solid transparent;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 20px;
  font-style: normal;
  font-weight: 500;
}

.work-info-grid {
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  padding-top: 16px;
}

.work-info {
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
}

.work-info-name {
  flex: none;
}

.work-info-line {
  border-bottom: 1px dotted var(--transparent-3);
  flex: 1;
  margin: 7px 4px;
}

.collection-item-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.social-buttons {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
  display: block;
}

.social-button {
  width: 36px;
  height: 36px;
  opacity: 0.4;
  margin-left: -8px;
  margin-right: 8px;
  padding: 8px;
  transition: opacity 0.4s;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.overlay {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--haze-1);
  margin: auto;
  padding: 50%;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --haze-1: #edeee8;
  --dark: #151515;
  --primary: #71a882;
  --border: #d9dbd0;
  --white: white;
  --secondary: #ef7c54;
  --haze-2: #e1e3d9;
  --transparent-2: rgba(0, 0, 0, 0.3);
  --text-grey: rgba(0, 0, 0, 0.55);
  --transparent-3: rgba(0, 0, 0, 0.16);
  --secondary-2: #f8cb35;
  --error: #ec5858;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  .wrapper {
    z-index: 10;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  blockquote {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 4vw;
    font-size: 18px;
    line-height: 24px;
  }

  .intro {
    padding-top: 48px;
  }

  .vertical-text {
    height: 7vw;
    margin-top: 72px;
    margin-right: 2vw;
    padding-bottom: 6px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    transform: rotate(-90deg);
  }

  .works-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
  }

  .button {
    height: 52px;
  }
}
